<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sauna_occupancies/style.css' %}">
    <meta charset="utf-8">
    <title>{% block title %}Saunieren im Paradies{% endblock %}</title>
</head>
<body>
    <ul class="topnav">
      <li><a href="{% url 'index' %}">Belegungskalender</a></li>
      <li><a href="{% url 'create_occupancy' %}">Erstelle eine Belegung</a></li>
      <li class="right"><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
