{% extends 'base.html' %}

{% block content %}
<h1>Unsere Belegungen</h1>

<div class="month">
  <ul>
    <li class="prev"><a class="normal-look" href="{% url 'occupancy_calendar' %}?month-offset={{ month_offset|add:"-1" }}">&#10094;</a></li>
    <li class="next"><a class="normal-look" href="{% url 'occupancy_calendar' %}?month-offset={{ month_offset|add:"1" }}">&#10095;</a></li>
    <li>
      {{ month }}<br>
      <span style="font-size:18px">{{ year }}</span>
    </li>
  </ul>
</div>

<div class="day-part">
<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">
{% for day in days_of_month %}
    <li>
    {% if day.1 is True %}
        <span class="occupied"><a href="{% url 'occupancy_list' year=year month=month_number day=day.0%}">{{ day.0 }}</a></span>
    {% else %}
        <a href="{% url 'create_occupancy' %}?occupancy_date={{ year }}-{{ month_number }}-{{ day.0 }}">{{ day.0 }}</a>
    {% endif %}
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}